:root {
	--borderWidth: 3px;
	--borderRadius: 10px;
}

.title {
	font-weight: bold;
}

.post img {
	width: auto;
	max-width: 98%;
	height:auto;
	max-height: 80vh;
	padding: 1% 1% 1% 1%;
	cursor: pointer;
}

a {
	text-decoration: underline;
}

body {
	background-color: rgb(200, 200, 200);
	animation-name: backgroundKeys, notakeys;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.bodyContnent {
	min-width: 650px;
	width: 100%;
}

.header {
	padding: 5px 5px 5px 5px;
}

.divBox {
	border:3px solid rgb(50, 50, 50);
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
}

.button {
	cursor: pointer;
  cursor: hand;
	border:3px solid rgb(50, 50, 50);
	background-color: rgba(50, 50, 50, 0.5);
	padding: 5px 5px 5px 5px;
	border-radius: 10px;

	transition: filter 0.5s ease;
	-webkit-filter:;
	filter:;
}

.button:hover{
	transition: filter 0.5s ease;
	-webkit-filter:invert();
	filter: invert();
}

.inactiveButton {
	opacity: 0.5;
	background-color: rgba(50, 50, 50, 0.5);
	border:3px solid rgb(50, 50, 50);
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
}

.sideBar {
	vertical-align: top;
	padding: 5px 5px 5px 5px;
	border:3px solid rgb(50, 50, 50);
	border-radius: 10px;
	display:inline-block;
}

.leftBar {
	float: left;
}

.rightBar {
	float: right;
}

.centerContent {
	float: left;
	display:inline-block;
	border:3px solid rgb(50, 50, 50);
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
}

/*sourced from https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php*/
.videoBox {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.videoBox iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*End source*/

.navbar {
	width: 100%
}

.navbar_button {
	display:inline-block;
	width:calc(50% - 20px);
	border:3px solid rgb(50, 50, 50);
	padding: 5px 5px 5px 5px;
	border-radius: 10px;

	transition: filter 0.5s ease;
	-webkit-filter:;
	filter:;
}

.navbar_button:hover{
	transition: filter 0.5s ease;
	-webkit-filter:invert();
	filter: invert();
}

.comment{
	padding: 5px 5px 5px 5px;
	border:3px solid rgb(50, 50, 50);
	border-radius: 10px;
	text-align: left;
	width: 95%;
}

.Name:target {
	background: rgba(128, 64, 128, .5);
	font-weight: bold;
}

.reply{
	position: relative;
	transform: translateX(25px);
	width: calc(100% - 10px);
}

.com {
	width: 100%;
	border:3px solid rgb(50, 50, 50);
}

.searchResult {
	border:3px solid rgb(50, 50, 50);
	border-radius: 10px;
}

.searchResultText {
	border:3px solid rgba(200, 180, 200, 0);
	border-radius: 10px;
}
