{% extends "BasePage.html" %}
{% block content %}
<div>
	<center>
		{% if error != "" %}
			Error : {{error|safe}}
		{% endif %}
	<form method="post" id:"createPostID" class = "commentBox" style="display:block;" enctype="multipart/form-data" action="AddHeader">
		ContentImages:<br> <input id="FilesUpload" type="file" name="images" multiple> <div class="percent">0%</div ><br>
		<input type="hidden" name="name">
		<input type="submit" value="AddHeader">
	</form>

	<script type="text/javascript" src="static/js/jquery.js"></script>
  <script type="text/javascript" src="static/js/jqueryForm.js"></script>

	<script>
	$(function() {
		var percent = $('.percent');

		$('form').ajaxForm({
				beforeSend: function() {

				},
				uploadProgress: function(event, position, total, percentComplete) {
						percent.html(percentComplete);
				},
				complete: function(xhr) {
						percent.html("Upload Complete")
				}
		});
	});
	</script>
	</center>
</div>
<br><br><br><br><br>
{% endblock %}
