
<!DOCTYPE html>
<html>
<head>
	{% if preview is not none %}
	<meta charset="utf-8"><meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{previewTitle}}" />
	<meta name="twitter:description" content="{{Desc}}" />
	<meta name="twitter:image" content="{{preview}}" />
	<meta name="twitter:url" content="{{previewURL}}" />
	<meta name="twitter:site" content="ZSpratt-arts" />
	{% endif %}
	<link rel="stylesheet" href="{{ url_for('static',filename='Style/mainSite.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>The Mighty Cock</title>
	<script src="https://code.jquery.com/jquery-1.9.1.js"></script>

	<script>
		$( window ).resize(function() {
			var top  = window.pageYOffset || document.documentElement.scrollTop;
			var left = window.pageXOffset || document.documentElement.scrollLeft;
			window.scrollTo((650 - $(window).width()) / 2, top); // values are x,y-offset
		});
	</script>
</head>

<body>
	<center>
		<div id="header" style="position:relative; min-width: 670px; max-width: 1280px">
			<img src="{{header}}" width=100%/>
			<a style="position:absolute; bottom:5%; left:5%; font-size:2vw; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Home of the ZSpratt</a>
			{% if current_user.is_authenticated and current_user.id == "ZSpratt" %}
			<a href="/AddHeader" class = "button" style="position:absolute; bottom:5%; right:5%; font-size:2vw; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  text-decoration: none;">+</a>
			{% endif %}
		</div>
	</center>
	<br>
	<div id="pageContnent" style="position:relative; min-width: 750px;">
		<div id="navbar">{% include "Navbar.html" %}</div>
		<br>
		<div class="centerContent" style="width:calc(100% - 215px); min-height:100vh; height: auto;">
			<center>
				{% with messages = get_flashed_messages() %}
				  {% if messages %}
				    <div class=flashes>
				    {% for message in messages %}
				     {{ message }}
				    {% endfor %}
					</div>
				  {% endif %}
				{% endwith %}
				{% block content %}{% endblock %}
			</center>
		</div>
		<div class="sideBar rightBar" style="width:180px; min-height:100px;">
				{% if current_user.is_authenticated and current_user.id != "Anonymous" %}
					{% include "Logout.html" %}
				{% else %}
					{% include "Login.html" %}
					{% include "Logout.html" %}
				{% endif%}
		</div><br>
		<div class="sideBar rightBar" style="width:180px; height:60px;">
			Search Posts<br>
			{% include "SearchPosts.html" %}
		</div><br>
		<div class="sideBar rightBar" style="width:180px; height:650px;">
			<a><img width="180px" height="auto" src="{{ url_for('static', filename='RealAdvert.png')}}" style="position:relative;"></a>
		</div>
		<!-- <div class="sideBar rightBar">
			<a><img width="100%" height="auto" src="{{ url_for('static', filename='MyAdvert.png')}}"></a>
		</div> -->
	</div>
</body>

</html>
