<!--
<div class="comment">
	<div class = "Name" style="text-align:left; display:inline-block; width:45%"></div>
	<div class = "TimeDate" style="text-align:right; display:inline-block; width:45%"></div><br>
	<div class="commentText"></div><br>
	<div class="reply">

	</div>
</div>
!-->
{% block content %}
	<form method="post" id:"commentID" class = "commentBox" style="display:block;">
		<input type="hidden" name="post" value="{{postID}}">
		<input type="hidden" name="type" value="comment">
		<input type="hidden" name="reply" value="0">
		{% if current_user.is_authenticated %}
			<input type="hidden" name="name" value="{{current_user.id}}">
		{% else %}
			<input type="hidden" name="name" value="Anonymous">
		{% endif %}
		<textarea name="commentText" style="width:300px; height:150px; text-align:left"></textarea><br>
		<input type="submit" value="Submit">
	</form>
	{{comments|safe}}
{% endblock %}
