<div class="comment">
	<div class = "Name" id="comment{{id}}" style="text-align:left; display:inline-block; width:45%">{}<a href="#comment{{id}}">#</a></div>
	<div class = "TimeDate" style="text-align:right; display:inline-block; width:45%">{{date}}</div><br>
	<div class="commentText">{{comment}}</div><br>

	<div class="button" onclick="var x = document.getElementById('commentID{{id}}'); if(x.style.display == 'none'){{x.style.display = 'block';}} else if(x.style.display == 'block'){{x.style.display = 'none';}}" style="width:40px;">Reply</div>
	<form method="post" id = "commentID{{id}}" class = "commentBox" style="display:none;">
		<input type="hidden" name="reply" value="{{id}}">
		<input type="hidden" name="post" value="{{post}}">
		<input type="hidden" name="type" value="comment">

		{% current_user.is_authenticated %}
				<input type="hidden" name="name" value="current_user.id">
		{% else %}
				<input type="hidden" name="name" value="Anonymous">
		{% endif %}

		<textarea name="commentText" style="width:300px; height:150px; text-align:left"></textarea><br>
		<input type="submit" value="Submit"><br>
	</form>

	<div class="reply">
		{{reply}}
	</div>
</div>
