{% extends "BasePage.html" %}
{% block content %}
<div class="com">
  <img width="49%" height="auto" src="{{ url_for('static', filename='CommissionPage/Sketch.png')}}">
  <img width="49%" height="auto" src="{{ url_for('static', filename='CommissionPage/Lines.png')}}"><br>
  <img width="49%" height="auto" src="{{ url_for('static', filename='CommissionPage/Flats.png')}}">
  <img width="49%" height="auto" src="{{ url_for('static', filename='CommissionPage/Shaded.png')}}">
</div>
<div style="text-align:left;">
Sketch     : 10.00$, plus an extra 5.00$ for each extra character.<br>
Lines      : 20.00$ plus an extra 8.00$ for each extra character.<br>
Flat colors: 25.00$ plus an extra 10.00$ for each extra character.<br>
Shaded     : 35.00$ plus an extra 20.00$ for each extra character.<br>
<br>
Backgrounds add a different amount on a per-case basis.  Depends on how detailed it is.<br>
Also, if you dont want a full character, Im willing to shimmy the price around.<br>
<br>
I am willing to do variants, just tell me beforehand.<br>
<br>
There are some fetishes which I will not cater to with these commissions, these being gore, scat/piss, diapers, and weight gain.<br>
<br>
Contact me at  <b>ZSprattarts@gmail.com</b>  if you are interested.<br>
</div>
{% endblock %}
