{% extends "BasePage.html" %}
{% block content %}
<div>
	<center>
		{% if error %}
			Error : {{error|safe}}
		{% endif %}
	<form method="post" id:"createPostID" class = "commentBox" style="display:block;" enctype="multipart/form-data" action="CreatePost">
		Title:<br><input type="text" name="title" style="width:512px; text-align:left"><br>
		DestFolder:<br><input type="text" name="dest" style="width:512px; text-align:left"><br><br>
		Tags:<br><input type="text" name="tags" style="width:512px; text-align:left"><br><br>
		ContentImages:<br> <input id="FilesUpload" type="file" name="images" multiple> <div class="percent">0%</div ><br>
		CustomContent: //Reffer Files $[0-n]//<br> <textarea name = "cCon" style="width:512px; height:256px; text-align:left"></textarea><br>
		Description:<br> <textarea name="desc" style="width:512px; height:256px; text-align:left"></textarea><br>
		<input type="hidden" name="name">
		<input type="submit" value="CreatePost">
	</form>

	<script type="text/javascript" src="static/js/jquery.js"></script>
  <script type="text/javascript" src="static/js/jqueryForm.js"></script>

	<script>
	$(function() {
		var percent = $('.percent');

		$('form').ajaxForm({
				beforeSend: function() {

				},
				uploadProgress: function(event, position, total, percentComplete) {
						percent.html(percentComplete);
				},
				complete: function(xhr) {
						percent.html("Upload Complete")
				}
		});
	});
	</script>
	</center>
</div>
<br><br><br><br><br>
{% endblock %}
