{% extends "BasePage.html" %}
{% block content %}
<div>
	<center>
	{% if error %}
		Error : {{error|safe}}
	{% endif %}
	FileList<br>
	{% for file in files %}
		{{file}}<br>
	{% endfor %}
	<br>
	<div class="hiddenTitle" style="display:none;">{{title|safe}}</div>
	<div class="hiddenContent" style="display:none;">{{content|safe}}</div>
	<div class="hiddenDesc" style="display:none;">{{description|safe}}</div>
	<form method="post" id:"createPostID" class = "commentBox" style="display:block;" enctype="multipart/form-data" action="/submitEdit">
		<input type="hidden" name="dest" value="/Post?PostID={{post}}"/>
		<input type="hidden" name="post" value="{{post}}"/>
		Title:<br><textarea class="title" name="title" style="width:512px; text-align:left" autocomplete="off"></textarea><br>
		Tags:<br><input type="text" name="tags" style="width:512px; text-align:left" value="{{tags}}"  autocomplete="off"><br><br>

		CustomContent:<br> <textarea class = "cCon" name = "cCon" style="width:512px; height:256px; text-align:left"  autocomplete="off"></textarea><br>
		Description:<br> <textarea class="desc" name="desc" style="width:512px; height:256px; text-align:left"  autocomplete="off"></textarea><br>
		<input type="hidden" name="name">
		<input type="submit" value="EditPost">
	</form>

	<script type="text/javascript" src="static/js/jquery.js"></script>
  <script type="text/javascript" src="static/js/jqueryForm.js"></script>

	<script>
	(function($){
	  var code = $('.hiddenTitle').html();
	  $('.title').text(code);

		var codea = $('.hiddenContent').html();
	  $('.cCon').text(codea);

		var codeb = $('.hiddenDesc').html();
	  $('.desc').text(codeb);
	})(jQuery);
	</script>
	</center>
</div>
<br><br><br><br><br>
{% endblock %}
