<div>
	<form method="post" id:"commentID" class = "commentBox" style="display:block;" action="/login">
		<input type="hidden" name="type" value="login">
		<input id="dest" type="hidden" name="dest">
		<script>
			document.getElementById("dest").setAttribute("value", window.location.pathname)
		</script>
		username : <input type="text" name="name" style="width:96px; text-align:left"><br>
		password : <input type="password" name="pass" style="width:96px; text-align:left"><br>
		<a href = "Register">Register</a>   <input type="submit" value="Login">
	</form>
</div>
