<form method="post" id:"commentID" class = "commentBox" style="display:block;" action="/logout">
		<input type="hidden" name="type" value="logout">
		<input id="dest" type="hidden" name="dest">
		<script>
			document.getElementById("dest").setAttribute("value", window.location.pathname)
		</script>
		<input type="hidden" name="name" value="{{current_user.id}}">
		{% if current_user.id == "Anonymous" %}
			Anonymous<br>
			<input type="submit" value="Safety">
		{% else %}
			<a href="/User">{{current_user.id}}</a><br>
			<input type="submit" value="Logout">
		{% endif %}
</form>

{% if current_user.id == "ZSpratt" %}
	<input type="submit" value="CreatePost" style="width:100px;" onclick="window.location = '/CreatePost'"><br>
	<form method="post" id:"EditPost" style="display:block;" action="/EditPost">
		<input type="hidden" name="post" value="{{postID}}">
		<input type="submit" value="EditPost" style="width:100px;"><br>
	</form>
	{% if views is defined %}
		Views : {{views}}<br>
	{% endif %}
{% endif %}<br>
