{% block navbar %}
<center>
<div id ="navbar" class="navbar">
	<a href="./"><div class="navbar_button">Home</div></a>
	<a href="Archive"><div class="navbar_button">Archive</div></a>
</div>
{% endblock %}
