{% extends "BasePage.html" %}
{% block content %}
<div>
	{{links|safe}}
</div>
<br>
<div class="post" style="width: 95%;">
<div class="title">{{title|safe}}</div><br>
{{content|safe}}<br>
<div class="desc">{{desc|safe}}</div><br>
</div>
<br>
{% include "CommentSection.html" %}
{% endblock %}
