{% extends "BasePage.html" %}
{% block content %}
  {% if search %}
  {% include "SearchPosts.html" %}
  Search Results<br>
  {% endif %}
  <br>
  <div style="min-height:10%">
    {% if list is not none %}
      {% for post in list %}
          <div class="searchResult" style="width: 80%; height:128px; position:relative; overflow:hidden;">
            <a href="Post?PostID={{post[0]}}">
            <div class="post" style="width:10vw; position:absolute; left:5px; top:5px;"> {{post[2] | safe}} </div>
            <div style="display:inline-block;">{{post[1] | safe}}</div><br><br>
            <div class="searchResultText" style="width:calc(100% - 13vw); text-align:left; height:auto; position:absolute; right:1vw;">{{post[3] | safe}}</div>
          </a>
        </div><br>
      {% endfor %}
    {% else %}
      No Results
    {% endif %}
  </div>
  {% if pages is not none %}
    {% for p in pages %}
      <div style = "display: inline-block; padding:10px">
        {% if p == currentPage %}
          <a href = "?page={{p}}{% if search %}&search={{lastSearch}}{% endif %}" class="inactiveButton" style="text-decoration:none;"> {{p}} </a>
        {% else %}
          <a href = "?page={{p}}{% if search %}&search={{lastSearch}}{% endif %}" class="button" style="text-decoration:none;"> {{p}} </a>
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
