{% extends "BasePage.html" %}
{% block content %}
<div>
	<center>
		{% if error %}
			Error : {{error|safe}}
		{% endif %}
	<form method="post" id:"commentID" class = "commentBox" style="display:block;">
		<input type="hidden" name="type" value="register">
		username : <input type="text" name="name" style="width:96px; text-align:left"><br>
		email : <input type="text" name="email" style="width:96px; text-align:left"><br>
		Use Gravatar : <input type="checkbox" name="useGravatar" id = "useGravatar"><br><br>
		password : <input type="password" name="pass" style="width:96px; text-align:left"><br>
		repeat : <input type="password" name="pass1" style="width:96px; text-align:left"><br><br>
		<input type="submit" value="Register">
	</form>
	</center>
</div>
<br><br><br><br><br>
{% endblock %}
