<form method="post" id:"searchPost" style="display:block;" action="/Search">
		<input type="text" name="tags" placeholder="tags" style="width:calc(100% - 80px);" value = "{{lastSearch}}">
		<input type="submit" value="Search" style="width:60px;">
</form>
