{% extends "BasePage.html" %}
{% block content %}
<div>
	<center>
		{% if current_user.id != "Anonymous" %}
		username : {{current_user.id}}<br>
		email : {{current_user.email}}<br>
		<br>
		<form method="post" id:"commentID" class = "commentBox" style="display:block;" action="/updateUser">
			<input type="hidden" name="name" value="{{current_user.id}}"><br>
			New Email : <input type="text" name ="email" value="{{current_user.email}}"><br>
			{{current_user.gravatar}}<br>
			Use Gravatar : <input type="checkbox" name="useGravatar" id = "useGravatar" {% if current_user.gravatar %} checked {% endif %}><br>
			Password : <input type="password" name ="pass" value=""><br>
			<input type="submit" value="Update"><br>
		</form>
		{% else %}
		You are just an Anon, nothing for you here
		{% endif %}
	</center>
</div>
<br><br><br><br><br>
{% endblock %}
